  
 body{
    background-color: #768A95;
 }

 hr{
      
     border-style:none;
     border-color: #a8afbf;
     border-top-style: dotted;
     border-width: 8px;
     width: 5%;
 }
      
     

 .CLICK{
         color: rgb(206, 19, 19);
           
 }

 .circular{
            border-radius: 100%;
 }
 
   .pizza{
      background-color: rgb(217, 72, 72);
   }

  .pizza:hover{
            background-color: gold;
  }
  h4{
      background-color: rgb(238, 233, 233);
      border-radius: 100%;
  }
  
